<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039969809797-7jkm3rq8lc7d643slj8oplht75inamgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039969809797-7jkm3rq8lc7d643slj8oplht75inamgg</string>
	<key>API_KEY</key>
	<string>AIzaSyALEqb7kVxDi084lOOGOV_kpEPPo2Efvts</string>
	<key>GCM_SENDER_ID</key>
	<string>1039969809797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-train-app-1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-train-app-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039969809797:ios:898be1d46630025b7000ec</string>
</dict>
</plist>